@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald&display=swap');

/* Display flex */


.flex-cc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex-cn {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.flex-nc {
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* */

/* Text */

h1 {
    font-family: "Oswald", sans-serif;
}

p, a, li {
    font-family: "Montserrat", sans-serif;
}

.title-1 {
    font-size:55px;
    color:black;
}
.title-2 {
    font-size:45px;
    color:black;
}
.title-3 {
    font-size:35px;
    color:black;
}
.title-4 {
    font-size:20px;
    color:black;
}

/* Title Media Queries */

@media screen and (max-width: 768px) {
    .title-1 {
        font-size:45px;
    }
    .title-2 {
        font-size:40px;
    }
    .title-3 {
        font-size:35px;
    }
    .title-4 {
        font-size:25px;
    }
}

/* */

/* */

/* Containers */


.content-container-50 {
    width:80%;
    height:50vh;
    margin:auto;
    position: relative;
}

.content-container-100 {
    width:80%;
    height:100vh;
    margin:auto;
    position: relative;
}

.content-container-75 {
    width:90%;
    height:75vh;
    margin:auto;
    position:relative;
}

.content-container-200 {
    width:80%;
    height:200vh;
    margin:auto;
    position: relative;
}

/* Första siffran row andra column */


.grid-1-1 {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.grid-1-2 {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.grid-1-3 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.grid-2-1 {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid-3-1 {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-2-2 {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.grid-3-2 {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.grid-2-3 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid-3-3 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


/* Grid Media-Queries */

@media screen and (max-width: 760px) {
    .grid-1-3 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .grid-2-3 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .grid-3-3 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    }
}

@media screen and (max-width: 425px) {

    .grid-1-2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .grid-2-2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .grid-3-2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .grid-2-3 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .grid-3-3 {
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    }
}

/* */

/* */

/* */

 
/* Banner */

/* */



/* Cards  Only 4 cards for now*/

.card-container {
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.cards {
    width:90%;
    height:90%;
    margin:auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.card {
    width:95%;
    height:95%;
    position: relative;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    display:flex;
    justify-content:center;
    background-color:gray;
}

.card:hover .card-text-hidden {
    top:50%;
}


.card:nth-child(1) .card-bg {
    background-image: url("../img/ulfnilsson.jpg");
    background-size:cover;
    background-position: center;
    object-fit: contain;
}

.card:nth-child(2) .card-bg {
    background-image: url("img");
    background-size:cover;
    background-position: center;
    object-fit: contain;
}

.card-bg {
    width:150px;
    height:200px;
    background-color:gray;
    position: relative;
    z-index:2;
    align-self: center;
    justify-self: flex-start;
}


.card-text {
    position: absolute;
    bottom:0;
    z-index:0;
    height:50%;
    width:100%;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;

    background-color:rgb(172, 172, 172);
}
/*
.card-text-hidden {
    position: absolute;
    top:100%;
    height:50%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    transition:all .5s ease-in-out;
    text-align:center;
    background-color:white;
    font-size:20px;
}


*/
/* Card Media Queries */


@media screen and (max-width: 630px) {
    .card-container {
        height:250vh !important;

    }
    .cards {
        width:50% !important;
        height:95% !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 1fr 1fr !important;
    }
}

@media screen and (max-width: 425px) {
    .cards {
        width:70% !important;
        height:95% !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 1fr 1fr !important;
    }
}

@media screen and (max-width: 820px) {
    .card-container {
        height:150vh;
    }
    .cards {

        width:80%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

/* */



/* Content Cards */


.c-card-container {
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.c-cards-l {
    width:100%;
    height:90%;
    margin:auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.c-cards-s {
    width:95%;
    height:90%;
    margin:auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.c-cards-m {
    width:90%;
    height:90%;
    margin:auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


.c-card {
    width:100%;
    height:100%;
    position: relative;
    align-self: center;
    justify-self: center;
    overflow: hidden;
}

.c-card-bg {
    width:100%;
    height:100%;
    position: relative;
}

.c-card:nth-child(1) .c-card-bg {
    background-image: url("../img/te_w.jpg");
    background-size:cover;
    background-position: center;
    object-fit: contain;
}

.c-card:nth-child(2) .c-card-bg {
    background-image: url("../img/eftergymn.jpg");
    background-size:cover;
    background-position: center;
    object-fit: contain;
}

.c-card:nth-child(3) .c-card-bg {
    background-image: url("../img/behörighetskrav.jpg");
    background-size:cover;
    background-position: center;
    object-fit: contain;
}

.c-card:nth-child(4) .c-card-bg {
    background-image: url("../img/uf.jpg");
    background-size:cover;
    background-position: center;
    object-fit: contain;
}

.c-card-text {
    position: absolute;
    bottom:0;
    height:50%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;

    background-color:rgba(0, 0, 0, 0.4);
    color:white;
}

.c-card-text h1 {
    font-size:2.5vw;
}

.c-card-text p {
    font-size:40px;
}

.c-card-text-hidden {
    position: absolute;
    top:100%;
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    transition:all .5s ease-in-out;

    background-color:rgba(19, 19, 19, 0.9);
    color:white;
    text-align:center;
}

.c-card-text-hidden h1 {
    font-size:2.5vw;
}
.c-card-text-hidden p {
    font-size:1vw;
}

/* Card text-hidden och normal Media Queries */

@media screen and (max-width: 1024px) {
    .c-card-text-hidden h1 {
        font-size:3vw;
    }
    .c-card-text-hidden p {
        font-size:1.5vw;
    }
    .c-card-text h1 {
        font-size:3vw;
    }
    
    .c-card-text p {
        font-size:2.5vw;
    }
}

@media screen and (max-width: 768px) {
    .c-card-text-hidden h1 {
        font-size:4vw;
    }
    .c-card-text-hidden p {
        font-size:2.25vw;
    }
    .c-card-text h1 {
        font-size:4vw;
    }
    
    .c-card-text p {
        font-size:2.25vw;
    }
}

@media screen and (max-width: 425px) {
    .c-card-text-hidden h1 {
        font-size:5vw;
    }
    .c-card-text-hidden p {
        font-size:3vw;
    }
    .c-card-text h1 {
        font-size:8vw;
    }
    
    .c-card-text p {
        font-size:5vw;
    }
}

@media screen and (max-width: 320px) {
    .c-card-text-hidden h1 {
        font-size:8vw;
    }
    .c-card-text-hidden p {
        font-size:3.75vw;
    }
    .c-card-text h1 {
        font-size:8vw;
    }
    
    .c-card-text p {
        font-size:6vw;
    }
}

/* */

.c-card:hover .c-card-text-hidden{
    top:0%;
}

/* Fixar L , M , S */

/* M */

.c-cards-m .c-card:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 4;
}

.c-cards-m .c-card:nth-child(2) .c-card-text h1, .c-cards-m .c-card:nth-child(3) .c-card-text h1, .c-cards-m .c-card:nth-child(4) .c-card-text h1{
    font-size:1.5vw;
}
.c-cards-m .c-card:nth-child(2) .c-card-text p, .c-cards-m .c-card:nth-child(3) .c-card-text p, .c-cards-m .c-card:nth-child(4) .c-card-text p{
    font-size:0.85vw;
}
.c-cards-m .c-card:nth-child(2) .c-card-text, .c-cards-m .c-card:nth-child(3) .c-card-text, .c-cards-m .c-card:nth-child(4) .c-card-text{
    height:45%;
}

/* Content-Cards Media Queries */

@media screen and (max-width: 768px) {
    .c-cards-s {
        width:90%;
        height:95%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .c-card-container {
        height:250vh;
    }
}

@media screen and (max-width: 425px) {
    .c-cards-s {
        width:100%;
    }
}

/* */


/* */

/* Footer */

.footer {
    width:100%;
    height:30vh;
    background-color:rgb(221, 221, 221);
    position: relative;
}

.footer-grid {
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: 2fr 1fr;
}


.footer-info-2 {
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: left;
}
.footer-info-2 ul {
    display:flex;
}
.footer-info-2 ul li {
    margin-left:40px;
}

.footer-info-2 a {
    font-size:20px;
    color:var(--gray);
    text-decoration: none;
}

.footer-creator {
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    grid-column-start: 1;
    grid-column-end: 3;
    border-top:1px solid rgb(167, 167, 167);
}

@media screen and (max-width: 1440) {

}

@media screen and (max-width: 768px) {
    .footer-info-2 a {
        font-size:12.5px;
    }
    .footer-info-2 ul {
        flex-direction: column;
    }
}

@media screen and (max-width: 375px) {
    .footer-creator p {
        font-size:10px;
    }
}

@media screen and (max-width: 320px) {
    .footer-info-2 a {
        font-size:12.5px;
    }
    .footer-creator p {
        font-size:12.5px;
    }
}

/* */